<div class="container">
    <h1>
        <a href="{{ url_for('portfolio.index') }}">My Website</a>
    </h1>
    <nav>
        <ul>
            <li>
                <a href="{{ url_for('portfolio.index') }}">Home</a>
            </li>
            <li>
                <a href="{{ url_for('portfolio.index') }}">About</a>
            </li>
            <li>
                <a href="{{ url_for('portfolio.index') }}">Blog</a>
            </li>
            <li>
                <a href="{{ url_for('portfolio.index') }}">Dashboard</a>
            </li>
        </ul>
    </nav>
</div>
